.cardItem {
  list-style: none;
  display: flex;
  padding: 20px;
}
.card {
  border-left: 2px solid var(--darkBlue);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 10px;
}
.blogTitle {
  font-family: var(--titleFont);
  font-weight: 600;
  margin: 0.5rem 0 0.5rem 0;
  color: black;
  transition: all 0.4s ease-in-out;
}
.card:hover .blogTitle {
  color: var(--darkBlue);
}
.blogDate {
  font-family: var(--generalFont);
  font-size: 14px;
  color: black;
}
