nav {
  width: 100%;
  min-height: 100px;
  background-color:var(--lightBlue);
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navContainer {
  width: 100%;
  position: absolute;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.menuLink {
  text-decoration: none;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-family: var(--headingFont);
  list-style: none;
}
.menuWrapper h2 {
  font-size: 24px;
  font-weight: 400;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.menuWrapper h2:hover {
  color: var(--darkBlue);
}
.menuWrapper .adminSvg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: black;
  transition: all 0.3s ease;
  text-decoration: none;
}
.menuWrapper .adminSvg:hover {
  color: var(--darkBlue);
}

/*Responsive Navbar*/
@media screen and (max-width: 768px) {
  nav {
    min-height: 60px;
  }
  .navContainer {
    width: 100%;
    padding: 0 20px;
  }
  .menuWrapper {
    gap: 20px;
  }
  .menuWrapper h2 {
    font-size: 20px;
  }
  .menuWrapper .adminSvg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
