:root{
    /*** Global Color Variables ***/
    --lightBlue: #CEE7F6;
    --darkBlue: #0077B6;
    --myGreen: #52B69A;
    --myRed: #D97878;

    /*** Global Font Variables ***/
    --headingFont: 'Montserrat', sans-serif;
    --logoFont: 'Oswald', sans-serif;
    --titleFont: 'Playfair Display', serif;
    --generalFont: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}