.logo {
  font-family: var(--headingFont);
  font-size: 30px;
  font-weight: 600;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logo:hover {
  color: var(--darkBlue);
}
.logoLink {
  text-decoration: none;
}
#dark .logo {
  color: white;
}
#dark .logo:hover {
  color: var(--myRed);
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 25px;
  }
}
