.circle{
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: var(--darkBlue);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 0.7;
}