.navbarSection {
  position: relative;
  width: 100%;
  height: 100%;
}


.navbarCurve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.navbarCurve svg {
  position: relative;
  width: calc(152% + 1.3px);
  height: 180px;
  display: block;
}

.shapeFillTop {
  fill: #CEE7F6;
}
#dark .shapeFillTop {
  fill: var(--darkerBlue);
}


/*Navbar*/
nav {
  width: 100%;
  height: 180px;
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navContainer {
  width: 100%;
  position: absolute;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px;
}
.menuLink {
  text-decoration: none;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-family: var(--headingFont);
  list-style: none;
}
.menuWrapper h2 {
  font-size: 24px;
  font-weight: 400;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
#dark .menuWrapper h2 {
  color: white;
}
#dark .menuWrapper h2:hover {
  color: var(--lightBlue);
}
.active h2{
  color: var(--darkBlue);
}
#dark .active h2{
  color: var(--lightBlue);
}
.active .adminSvg{
  fill: var(--darkBlue);
}
#dark .active .adminSvg{
  fill: var(--lightBlue);
}
.menuWrapper h2:hover {
  color: var(--darkBlue);
}
.svgMenu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}
.menuWrapper .adminSvg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: black;
  transition: all 0.3s ease;
  text-decoration: none;
}
#dark .menuWrapper .adminSvg {
  color: white;
}
.menuWrapper .adminSvg:hover {
  color: var(--darkBlue);
}
#dark .menuWrapper .adminSvg:hover {
  color: var(--lightBlue);
}
.switchContainer{
  padding-top: 8px;
}

/*Responsive Navbar*/
@media screen and (max-width: 768px) {
  .navContainer {
    padding: 30px;
    margin-top: 10px;
  }
  .logoWrapper{
    margin-top: 6px;
  }
}

@media screen and (max-width: 500px) {
  nav {
    min-height: 70px;
  }
  .navContainer {
    width: 100%;
    padding: 0 20px;
  }
  .menuWrapper {
    gap: 20px;
  }
  .navbarCurve svg {
    position: relative;
    width: calc(152% + 1.3px);
    height: 130px;
  }
}