.dropdownContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.paginateDropdown {
  width: 50px;
  height: 40px;
  border: none;
  border-radius: 10px;
  outline: none;
  stroke: none;
  background-color: var(--lightBlue);
  color: black;
  font-family: var(--headingFont);
  font-size: 20px;
  margin: 20px;
  padding-left: 5px;
  cursor: pointer;

  /*removing the default down-arrow*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;

  /*Adding my own down-arrow*/
  background-image: url("/downArrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 5px) center;
}
.paginateDropdown option {
  color: black;
  background-color: var(--lightBlue);
}
.pageNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px 0 0 0;
}
.pageNumbers button {
  border: none;
  outline: none;
  stroke: none;
  background-color: transparent;
  color: black;
  font-family: var(--headingFont);
  font-size: 20px;
  font-weight: 600;
  color: var(--lightBlue);
  margin: 10px;
  cursor: pointer;
}
.pageNumbers button:disabled {
  cursor: not-allowed;
  color: var(--darkBlue);
}
