.basic {
  font-family: var(--generalFont);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.filled {
  color: black;
  background-color: var(--lightBlue);
  border: 1px solid var(--lightBlue);
}
.filled:hover {
  color: white;
  background-color: var(--darkBlue);
  border: 1px solid var(--darkBlue);
}
.outlined {
  color: var(--darkBlue);
  background-color: transparent;
  border: 1px solid var(--darkBlue);
}
.outlined:hover {
  color: white;
  background-color: var(--darkBlue);
  border: 1px solid var(--darkBlue);
}
.reverse {
  color: white;
  background-color: var(--darkBlue);
  border: 1px solid var(--darkBlue);
}
.reverse:hover {
  color: white;
  background-color: var(--darkerBlue);
  border: 1px solid var(--darkerBlue);
}
.delete {
  color: var(--myRed);
  background-color: transparent;
  border: 1px solid var(--myRed);
}
.delete:hover {
  color: white;
  background-color: var(--myRed);
  border: 1px solid var(--myRed);
}
.addNew{
  color: white;
  background-color: var(--myGreen);
  border: 1px solid var(--myGreen);
}
.addNew:hover {
  color: white;
  background-color: green;
  border: 1px solid green;
}
@media screen and (max-width: 500px) {
  .basic {
    font-size: 14px;
    padding: 10px 16px;
  }
}
