.commentSection {
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commentSectionDivider {
  width: 80%;
  max-width: 800px;
  height: 1px;
  background-color: var(--lightBlue);
  margin: 20px 0;
}
.commentTitle {
  font-size: 30px;
  font-weight: 600;
  color: black;
  margin: 50px auto;
  font-family: var(--headingFont);
}
.commentTitleWrapper {
  width: 100%;
}
.commentSubTitle {
  font-size: 30px;
  font-weight: 500;
  color: black;
  margin: 30px auto 20px auto;
  font-family: var(--headingFont);
  letter-spacing: 1px;
}
.commentList {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .commentTitle {
    font-size: 25px;
    margin: 50px auto;
  }
  .commentSubTitle {
    font-size: 20px;
    margin: 20px auto 10px auto;
  }
}
@media screen and (max-width: 500px) {
  .commentTitle {
    font-size: 20px;
    margin: 50px auto;
  }
  .commentSubTitle {
    font-size: 18px;
    margin: 20px auto 10px auto;
  }
}
